<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <h3 class="heading-primary">Kochar Tech Dashboard</h3>
    <div class="d-flex">
      <button
        class="button"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="AddEmployee()"
        
      >
        Add Employee
      </button>
    </div>
  </div>
</nav>

<h4 class="text-center mt-4">Employee's Record</h4>
<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr. no</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee Email</th>
        <th scope="col">Employee Phone</th>
        <th scope="col">Employee Age</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of employees; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ row.employeeName }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.mobile }}</td>
        <td>{{ row.age }}</td>
        <td>
          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="button edit"
            (click)="onEdit(row)"
          >
            Edit
          </button>
          <button (click)="deleteEmployee(row)" class="button delete">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleName" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleName"
              aria-describedby="emailHelp"
              formControlName="employeeName"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="email"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="examplephpne" class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              formControlName="mobile"
              id="examplephpne"
            />
          </div>
          <div class="mb-3">
            <label for="exampleage" class="form-label">Age</label>
            <input
              formControlName="age"
              type="number"
              class="form-control"
              id="exampleage"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="button edit btn-secondary"
          data-bs-dismiss="modal"
          style="background-color: gray"
          id="cancel"
        >
          Close
        </button>
        <button
          type="submit"
        (click)="createEmployee()"
          class="button edit"
          *ngIf="showAdd"
        >
          Add
        </button>

        <button
          type="submit"
          *ngIf="showUpdate"
          class="button edit"
          (click)="updateEmployee()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>