<section class="login">
  <div class="login_box">
    <div class="left">
      <div class="contact">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <h3>SIGN UP</h3>
          <input formControlName="userName" type="text" placeholder="Name" />
          <div *ngIf="userName?.touched && userName?.invalid" class="error">
            <p *ngIf="userName?.errors?.['required']">
               username is required.
            </p>
    
        </div>
          <input formControlName="email" type="email" placeholder="Email" />
          <div *ngIf="email?.touched && email?.invalid" class="error">
            <p *ngIf="email?.errors?.['required']">
               email is required.
            </p>
    
        </div>
          <input
            formControlName="password"
            type="password"
            placeholder="Password"
          />

          <div *ngIf="password?.touched && password?.invalid" class="error">
            <div *ngIf="password?.errors?.['required']">
             password is required.
            </div>
    
        </div>

          <input
            formControlName="passwordConfirm"
            type="password"
            placeholder="Confirm Password"
          />
          <div *ngIf="passwordConfirm?.touched && passwordConfirm?.invalid" class="error">
            <div *ngIf="passwordConfirm?.errors?.['required']">
             Please confirm your password
            </div>
    
        </div>
          <button class="submit">Register</button>
        </form>
        <a class="signinUser" routerLink="/login"
          >Already have account ? Sign in</a
        >
      </div>
    </div>
    <div class="right">
      <div class="right-text">
        <h2>Kochar Tech</h2>
        <h6>ENHANCING CUSTOMER EXPERIENCE THROUGH TECHNOLOGY</h6>
      </div>
    </div>
  </div>
</section>